<h3>mainarea Component</h3>
<label for="uname">Username : </label>
<input type="text" [(ngModel)]="username">
<p>Username: {{username}}</p>
<button [disabled]="!username" (click)="onbtn()">click</button>
<!-- <button (click)="onbtn($event)">click</button> -->
<!-- <p [ngStyle]="{'font-size':!isActive?'50px':'20px'}"> This is ngStyle </p> -->
<p (click)="isActive=!isActive" [ngClass]="isActive?'isActive':'inActive'"> This is ngClass</p>
<p *ngIf="isActive ; else elseblock">Structrual Derivatives</p>
<ng-template #elseblock>This is the else part </ng-template>
<ul>
    <h5>Cars</h5>
    <li *ngFor="let car of cars; index as i,first as isfirst,last as islast"> {{car.name}} {{i}} {{isfirst}} {{islast}} </li>
</ul>

<table>
    <th> name</th>
    <th> index</th>
    <th> first</th>
    <th> last</th>
    <tr *ngFor="let car of cars; index as i,first as isfirst,last as islast"> <td>{{car.name}} </td> <td> {{i}} </td> <td> {{isfirst}} </td> <td> {{islast}} </td></tr>
</table>