<h3>mainarea Component</h3>
<label for="uname">Username : </label>
<input type="text" [(ngModel)]="username">
<p>Username: {{username}}</p>
<button [disabled]="!username" (click)="onbtn()">click</button>
<!-- <button (click)="onbtn($event)">click</button> -->
<!-- <p [ngStyle]="{'font-size':!isActive?'50px':'20px'}"> This is ngStyle </p> -->
<p (click)="isActive=!isActive" [ngClass]="isActive?'isActive':'inActive'"> This is ngClass</p>
<p *ngIf="isActive ; else elseblock">Structrual Derivatives</p>
<ng-template #elseblock>This is the else part </ng-template>